.additem-btn{
    width: 56px;
    height: 56px;
    background-color: #5C33BE;
    border-radius: 50%;
    border-style: none;
    color: white;
    position: fixed;
    bottom: 16px;
    right: 16px;
    img{
        width: 48px;
        height: 48px;
    }
}
