.nav{
    color: white;
    // padding-top: 24px;
    // padding-bottom: 8px;
    // padding-left: 24px;
    padding: 24px 24px 8px 24px;
    img{
        width: 24px;
        height: 24px;
        margin-right: 16px;
    }
    h1{
        font-size: 24px;
    }
}